@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  color: #303030;
  /* height: 100vh; */
}

.container {
  width: 70%;
  /* height: 100vh; */
  /* background-color: red; */
  margin: 0px auto;
  padding-top: 1px;
  /* margin-top: 100px; */
}

.search-container {
  /* width: 380px;
  background-color: white;
  /* height: 570px; */
  /* margin: 0px auto;
  margin-top: 99px;
  padding: 10px 5px; */
}

#city-input {
  width: 100%;
  height: 44px;
  padding: 5px 10px;
  font-size: 18px;
}

.weather-card-conatiner-main {
  width: 380px;
  background-color: white;
  height: 570px;
  margin: 0px auto;
  margin-top: 99px;
  padding: 10px 5px;
}

.weather-large {
  display: block;
  font-size: 46px;
}
.weather-card-container {
  padding-top: 160px;
  height: 100%;
}
ul {
  list-style: none;
  width: 100%;
}
.search-results {
  width: 100%;
}
.search-result-items a {
  display: block;
  text-decoration: none;
  color: #303030;
  font-size: 18px;
  width: 100%;
  padding: 5px 15px;
  border: solid 1px #303030;
}

.weather-text {
  display: block;
}